*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/background-body.png);
    background-color: #030E21;
    background-size: 100vw;
    background-repeat: no-repeat;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100vw;
    height: 100vh;

    padding-left: calc(2 * 2.604vw);
    padding-right: calc(2 * 2.604vw);
}

/* Header */
header{
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 10;
    position: sticky;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    border: 1px solid rgba(255,255,255,0.1);
    border-end-start-radius: 20px;
    border-end-end-radius: 20px;
}

header h1{
    font-size: 30px;
    margin-left: 2.604vw;
    
    color: #E5E5E5;
    text-transform: lowercase;
    text-shadow: 0 0 1px #000000;
}

header span{
    color: #F8E7A1;
    font-weight: 300;
    text-transform: lowercase;
}

nav{
    margin-right: 1.82vw;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #ffffffe0;
    padding: 15px;
    font-size: 17px;
    text-shadow: 0 0 1px #000000;
    transition: 0.4s;
}

nav a:hover{
    color: #FFF;
    text-shadow: 0 0 0.3px #FFF;
    font-size: 19px;
}
/* Fim Header */

/* Home */
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .grid-1{
    color: #E5E5E5;
    padding-right: 25px;
    width: 50vw;
}

.home h2{
    color: #868490;
    font-size: 2.448vw;
    font-weight: 500;
}

.home h1{
    margin-top: 12px;
    font-size: 4.167vw;
}

.home .line{
    height: 5px;
    width: 14.323vw;
    
    background-color: #F8E7A1;
    border-radius: 2.5px;

    margin-top: 15px;
    margin-bottom: 15px;
}

.home p{
    width: 31.27vw;
    font-size: calc(18px + (2 * ((100vw - 1144px) / 776)));
}

.home .grid-2{
    width: calc(50vw - 25px - 2.604vw);
    height: 70vh;
    background-color: #E5E5E5;
    margin-left: 25px;
    margin-right: 2.604vw;
}
/* Fim Home */

/* Services */
.services{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services .grid-1{
    width: 44vw;
}

.services .grid-1 h2{
    font-size: 3.229vw;
    color: #FFF;
    font-weight: 600;
}

.services .grid-1 p{
    font-size: calc(16px + (2 * ((100vw - 1144px) / 776)));
    color: #ebeaea;
    text-shadow: 0 0 2px #000000;
    margin-top: 1.25vw;
}

.services .grid-2{
    width: 42vw;
    height: 31.667vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.services .grid-2 .card{
    width: 36.042vw;
    height: 9.583vw;

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    border: 1px solid rgba(255,255,255,0.12);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.services .grid-2 .card .img{
    width: 5.208vw;
    height: 5.208vw;
    background-color: #E5E5E5;
    border-radius: 3px;
}

.services .grid-2 .card h3{
    color: #FFF;
    font-size: 2.083vw;
    font-weight: 500;
}

.services .grid-2 .card p{
    color: #868490;
    font-size: 1.25vw;
    font-weight: 500;
}
/* Fim Services */

/* Projects */
.projects{
    width: calc(100vw - (5 * 2.604vw));
    margin-left: calc(2 * 2.604vw);
    margin-right: calc(3 * 2.604vw);

    background: rgba(9, 20, 39, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    border: 1px solid rgba(255,255,255,0.12);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.projects h2{
    font-size: 3.229vw;
    color: #FFF;
    font-weight: 600;
    margin-top: 2.292vw;
    
    align-self: flex-start;
}

.projects .grid{
    width: calc(100vw - (4 * 2.604vw));
    display: flex;
    justify-content: space-around;
}

.projects .grid .card{
    width: 18.75vw;
    height: 20vw;

    background-color: rgba(16, 27, 46, 0.7);
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.12);
}

.projects .grid .card .img{
    width: 18.75vw;
    height: 14.063vw;
    background-color: #E5E5E5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.projects .grid .card .content{
    height: 5.938vw;

    display: flex;
    padding-left: 30px;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.projects .grid h3{
    font-size: 1.25vw;
    font-weight: 400;
    color: #fff
}

.projects .grid p{
    font-size: 1.042vw;
    color: #868490;
}
/* Fim Projects */

/* Contacts */
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts h2{
    color: #FFF;
    font-size: 3.229vw;
    font-weight: 600;
    padding-bottom: 1.667vw;
}


.contatos a{
    text-decoration: none;
    color: #ffffffcc;
}

.contatos h3{
    font-size: 1.576vw;
    transition: 0.4s;
}

.contatos h3:hover{
    color: #FFF;
    text-shadow: 0 0 0.3px #FFF;
    font-size: 1.751vw;
}
.contatos{
    width: calc(100vw - (3 * 2.604vw));

    margin-top: 2.604vw;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contatos .card{
    width: 15vw;
    height: 18vw;

    background-color: #101B2E;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.12);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.contatos img{
    width: 9.375vw;
    height: 9.375vw;
}
/* Fim Contacts */

/* Footer */
footer{
    height: 10vh;
    width: 100vw;

    background: #030e21c7;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    border: 1px solid rgba(44, 44, 44, 0.432);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer h4{
    color: #F8E7A1;
    padding-right: 1.042vw;
    font-size: calc(17px + (2 * ((100vw - 1144px) / 776)));
}

footer p{
    color: #E5E5E5;
    padding-left: 1.042vw;
    font-size: calc(15px + (2 * ((100vw - 1144px) / 776)));
}